body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;

}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: bold;
}

.footer-link {
  color: #11999E;
  padding-bottom: 20px;
  position: relative;
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 80px;
  margin-bottom: 0;

}

/*.middle-container {

}*/

.bottom-container {
  background-color: #66BFBF;
  position: relative;
  padding-top: 100px;

  }

.bottom {
  margin: 0;
  position: relative;
  color: #EAF6F6;
  padding-bottom: 60px
}

.pro {
  text-decoration: underline;
}

.mountain-image {
  position: relative;
  left: 100px;
}

.top-cloud {
  position: absolute;
  margin-left: 250px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.image-josh {
  max-width: 25%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.image-code {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.bit {
  width: 25%;
  float: right;
  margin-left: 30px;
}

/*.code-skill-description {
  clear: left;
}

.code-skill-description2 {
  clear: right;
}*/
.BUTTON_FUB {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 14px;
   line-height: 14px;
   color: #EAF6F6;
   font-family: Helvetica;
   width: 185px;
   font-size: 20px;
   font-weight: 900;
   padding: 12px;
   background-color: #66BFBF;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 30px;
}

.BUTTON_FUB:hover {
   background: #000000;
   border: solid #000000 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
